:root {
  --cream-color: #FDF0F0;
  --pink-color: #F1B4BB;
  --navy-color: #1F4172;
  --dark-blue-color: #132043;
  --light-teal-color: #B4F1EA;
  --brown-color: #72501F;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium';
}

nav{
  background: #132043;
  height: 80px;
  width: 100%
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover,a.active{
  background: #f1b4bb;
  transition: .5s;
}

#gif-holder {
  margin: 2% 10%;
  min-height: 30rem;
  width: 80%;
}

#gif-holder div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

#gif-holder img {
  border: .2rem solid var(--dark-blue-color);
  height: 30rem;
  width: auto;
}

#selected-quote {
  display: ;
  position: relative;
}

.bottom-section {
  display: flex;
  justify-content: center;
}

.bottom-section.figure {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  height: 200px;
  
}

.figure h3 {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.quote-options {
  display: block;
}

.quote-options p {
  padding: 1rem;
}