:root {
  --cream-color: #FDF0F0;
  --pink-color: #F1B4BB;
  --navy-color: #1F4172;
  --dark-blue-color: #132043;
  --light-teal-color: #B4F1EA;
  --brown-color: #72501F;
  --border-radius: 15px;
}

.lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}

.shadows-into light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: "Lemon";
}

nav{
  background: var(--dark-blue-color);
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover,a.active{
  background: var(--pink-color);
  transition: .5s;
}

#gif-holder {
  margin: 2% 10%;
  min-height: 30rem;
  width: 80%;
}

#gif-holder div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}

#gif-holder img {
  border: .2rem solid var(--dark-blue-color);
  height: 30rem;
  width: auto;
}

.label-style {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: .5rem;
  margin: 0 .5rem;
}

.search-button {
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.custom-button {
  border-radius: var(--border-radius);
  background-color: var(--light-teal-color);
  border-width: 1px;
  padding: 0 1rem;
}

.custom-button:hover {
  background-color: white;
  transition-duration: 1s;
}

#selected-quote {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 27rem;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: large;
  color: var(--cream-color);
}

.bottom-section {
  display: flex;
  justify-content: center;
}

.bottom-section .figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.bottom-section .figure img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 1rem;
  padding: 1rem;
}

#kanye img {
  background-color: var(--brown-color);
}

#chuck img {
  background-color: var(--pink-color);
}

.bottom-section .color1 {
  background-color: var(--brown-color);
}

.bottom-section .color2 {
  background-color: var(--pink-color);
}

.figure h3 {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: end;
}

.quote-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 1rem;
}

.quote-options p {
  padding: 1rem;
}

.local-storage {
  height: 80%;
  width: 80%;
  overflow-y: scroll;
}