:root {
  --cream-color: #FDF0F0;
  --pink-color: #F1B4BB;
  --navy-color: #1F4172;
  --dark-blue-color: #132043;
  --light-teal-color: #B4F1EA;
  --brown-color: #72501F;
  --border-radius: 15px;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: "Lemon";
}

header {
  background-color: var(--dark-blue-color);
  overflow: hidden;
}

nav{
  justify-content: space-between;
  background: var(--dark-blue-color);
  height: 80px;
  width: 100%;
}

nav.pure-g {
  align-content: center;
}

label.logo{
  color: white;
  font-size: 2rem;
  padding-left: 6vw;
  font-weight: bold;
  align-self: center;
}

nav ul {
  text-align: right;
  align-self: center;
}

nav ul li{
  display: inline-block;
  margin: 5px;

}

#gif-holder {
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
  min-height: 30rem;
  width: 80%;
  justify-content: center;
}

#gif-holder div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.gif-parent {
  width: 100%;
}

.search-bar {
  font-size: 14px;
}

.container-div {
  padding: 5px;
}

#gif-holder img {
  border: .2rem solid var(--dark-blue-color);
  height: 30rem;
  width: auto;
}

.label-style {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0;
  margin: 0 .5rem;
}

.search-button {
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.custom-button {
  border-radius: var(--border-radius);
  background-color: var(--light-teal-color);
  color: var(--dark-blue-color);
  border-width: 1px;
  padding: 0 1rem;
}

.custom-button :hover {
  background-color: var(--pink-color);
  color: var(--cream-color);
  transition-duration: 1s;
}

input {
  max-width: 8rem;
}

#selected-quote {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 24rem;
  margin-left: 23.5%;
  padding: 0 .5rem;
  max-width: 600px;
  font-size: 1.3rem;
  color: var(--dark-blue-color);
  background-color: white;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.bottom-section {
  display: flex;
  justify-content: center;
}

.bottom-section .figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.bottom-section .figure img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  margin: 5%;
  padding: 5%;
}

#kanye img {
  display: flex;
  background-color: var(--brown-color);
  justify-content: center;
}

#chuck img {
  background-color: var(--pink-color);
}

.bottom-section .color1 {
  background-color: var(--brown-color);
}

.bottom-section .color2 {
  background-color: var(--pink-color);
}

.figure h3 {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: end;
}

.quote-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 1rem;
}

.quote-options p {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

.local-storage {
  height: 80%;
  width: 80%;
  overflow-y: scroll;
}


/*Custom media queries on top of pure css*/
@media screen and (max-width: 600px) {
 
  .quote-options, .figure h3 {
    font-size: 80%;
  }

  #gif-holder {
    min-height: 20rem;
  }

  #gif-holder img {
    max-width: 100%;
    height: auto;
  }

  #selected-quote {
    font-size: 3vw;
    width: 70%;
    margin: 30vh 5% 0 5%;
    justify-content: center;
  }

  label.logo {
    font-size: 1.4rem;
  }

  .label-style {
    font-size: 1rem;
  }

  .custom-button {
    font-size: .8rem;
  }

}

@media screen and (max-width: 400px) {
  .quote-options, .figure h3 {
    font-size: 70%;
  }

  label.logo {
    font-size: 1.2rem;
    padding-left: 3vw;
  }

  .label-style {
    font-size: .8rem;
  }

  .search-bar {
    font-size: 70%;
  }

  .container-div {
    flex-wrap: wrap;
    margin: 5px 0;
  }

  .custom-button {
    font-size: .7rem;
  }

  #selected-quote {
    margin: 28vh 5% 0 5%;
  }
}
